extends template/main
append vars
  -
    page_title= 'Education'
block content
    aside.aside
        .aside-block
            a(href='#html').aside-title HTML
            ul.aside-list
                li.aside-list-item
                    a(href='#tags').aside-link Теги
                li.aside-list-item
                    a(href='#headBody').aside-link HTML / Head / Body
                li.aside-list-item
                    a(href='#semantic').aside-link Семантические теги
                li.aside-list-item
                    a(href='#notSemantic').aside-link Несемантические теги
                li.aside-list-item
                    a(href='#').aside-link Аттрибуты
                li.aside-list-item
                    a(href='#').aside-link
        .aside-block
            a(href='#').aside-title CSS
            ul.aside-list
                li.aside-list-item
                    a(href='#').aside-link Стили расположения
                li.aside-list-item
                    a(href='#').aside-link Стили размеров
                li.aside-list-item
                    a(href='#').aside-link Стили отступов
                li.aside-list-item
                    a(href='#').aside-link Стили шрифтов
                li.aside-list-item
                    a(href='#').aside-link Стили изображений
                li.aside-list-item
                    a(href='#').aside-link Анимация
                li.aside-list-item
                    a(href='#').aside-link Взаимодействия через Checkbox / Radio
                li.aside-list-item
                    a(href='#').aside-link 
        .aside-block
            a(href='#').aside-title JavaScript
            ul.aside-list
                li.aside-list-item
                    a(href='#').aside-link Типы данных
                li.aside-list-item
                    a(href='#').aside-link Выражения и операторы
                li.aside-list-item
                    a(href='#').aside-link Инструкции
                li.aside-list-item
                    a(href='#').aside-link Функции
                li.aside-list-item
                    a(href='#').aside-link Циклы
                li.aside-list-item
                    a(href='#').aside-link Массивы
                li.aside-list-item
                    a(href='#').aside-link Объекты
                li.aside-list-item
                    a(href='#').aside-link Взаимодействие с DOM
                li.aside-list-item
                    a(href='#').aside-link AJAX
    main.main
        section
            .row.article
                h2.article-title#html HTML
                p.article-text #[strong(class='red') HTML] (HyperText Markup Language / Язык ГиперТекстовой Разметки) -&nbsp;
                    |стандартизированный язык разметки документов в сети Интернет.
                p.article-text #[strong.red Гипертекст] - текст, который ссылается на другой текст.
                p.article-text #[strong(class='red') HTML] - теговый язык разметки документов. Любой документ на языке HTM&nbsp;
                    |представляет собой набор элементов, причём начало и конец каждого элемента обозначается&nbsp;
                    |специальными пометками — тегами.
            .row.article
                h2.article-title#tags Теги
                p.article-text #[strong(class='red') Тег] - в вэб-разработке это элемент разметки HTML-документа. Теги - ключевые&nbsp;
                    |слова и заключаются в "#[span.blue <]" и "#[span.blue >]", а так же открываются, то есть ставятся в начале&nbsp;
                    |размечаемого объекта, и закрываются, ставятся в конце размечаемого документа со слэшем "/" после открывающей&nbsp;
                    |скобки тэга.
                p.article-text Теги делятся на 2 типа - строчные и блочные.
                p.article-text #[strong(class='red') Строчные теги] - строчными называются такие элементы документа,&nbsp;
                    |которые являются непосредственной частью строки.
                p.article-text #[strong(class='title') Особенности строчных тегов:]
                ul.article-list
                    li
                        span Внутрь строчных элементов допустимо помещать текст или другие строчные элементы. Вставлять&nbsp;
                            |блочные элементы внутрь строчных запрещено.
                    li
                        span Эффект схлопывания отступов не действует.
                    li
                        span Свойства, связанные с размерами (#[strong(class='violet') width / height]) не применимы.
                    li
                        span Ширина равна содержимому плюс значения отступов, полей и границ.
                    li
                        span Несколько строчных элементов идущих подряд располагаются на одной строке и переносятся на&nbsp;
                            |другую строку при необходимости.
                    li
                        span Можно выравнивать по вертикали с помощью свойства #[strong(class='violet') vertical-align].
                p.article-text #[strong(class='red') Блочные теги] - блочным называется элемент, который отображается на&nbsp;
                    |веб-странице в виде прямоугольника. Такой элемент занимает всю доступную ширину, высота&nbsp;
                    |элемента определяется его содержимым, и он всегда начинается с новой строки.
                p.article-text #[strong(class='title') Особенности блочных тегов:]
                ul.article-list
                    li
                        span Блоки располагаются по вертикали друг под другом.
                    li
                        span На прилегающих сторонах элементов действует эффект схлопывания отступов.
                    li
                        span Запрещено вставлять блочный элемент внутрь строчного.
                    li
                        span По ширине блочные элементы занимают всё допустимое пространство.
                    li
                        span Если задана ширина контента (свойство #[strong.violet width]), то ширина блока складывается&nbsp;
                            |из значений #[strong.violet width], полей, границ, отступов слева и справа.
                    li
                        span Высота блочного элемента вычисляется браузером автоматически, исходя из содержимого блока.
                    li
                        span Если задана высота контента (свойство height), то высота блока складывается из значения&nbsp;
                            |#[strong.violet height], полей, границ, отступов сверху и снизу. При превышении указанной&nbsp;
                            |высоты контент отображается поверх блока.
                    li
                        span На блочные элементы не действуют свойства, предназначенные для строчных элементов,&nbsp;
                            |вроде #[strong.violet vertical-align].
            .row.article
                h2.article-title#headBody HTML / Head / Body
                p.article-text #[strong(class='red') &lt;HTML&gt;] - указывает программе просмотра страниц, что это HTML документ.
                p.article-text #[strong(class='red') &lt;Head&gt;] - один из 2х основополагающих тегов на странице, он заключает&nbsp;
                    |информацию о самой странице, а не ту, которая будет отображена в основной части окна браузера.
                p.article-text Обязательно содержит такой элемент как: #[span.red &lt;title=''&gt;]&nbsp;
                    |- Заголовок страницы, отображаемый в закладке браузера.
                p.article-text #[strong(class='red') &lt;Body&gt;] - второй, основополагающий тег на странице, он заключает в себе&nbsp;
                    |информацию, которая будет отображена в основной части окна браузера.
            .row.article
                h2.article-title#semantic Семантические теги
                p.article-text Семантические теги - смысловые теги, придают смысл разметке, необходимы для поисковых роботов.
                p.article-text #[span.red &lt;header&gt;]
                p.article-text #[span.red &lt;aside&gt;]
                p.article-text #[span.red &lt;main&gt;]
                p.article-text #[span.red &lt;footer&gt;]
                p.article-text #[span.red &lt;nav&gt;]
                p.article-text #[span.red &lt;section&gt;]
                p.article-text #[span.red &lt;article&gt;]
                p.article-text #[span.red &lt;h1&gt;] - #[span.red &lt;h6&gt;] (Блочный) - заголовки разных уровней,&nbsp;
                    |используются как заголовки страницы, статьи, раздела и т.д. На странице не может быть более одного H1.
                p.article-text #[span(class='red') &lt;a&gt;] (Строчный) - гиперссылка на другие документы или часть этого&nbsp;
                    |документа. Обязательный аттрибут #[span.violet href](указывает путь этой гиперссылки)
                p.article-text #[span(class='red') &lt;img&gt;] (Строчный) - создает гиперссылку на рисунок.&nbsp;
                    |Обязательные аттрибуты #[span.violet src = url("")](указывает путь этому изображению),&nbsp;
                    |#[span.violet alt=""](указывает альтернативу в случае, если изображение не загрузилось)
                p.article-text #[span(class='red') &lt;ul&gt;] / #[span(class='red') &lt;ol&gt;] (Блочный) - испльзуется для создания списков.
                p.article-text #[span(class='red') &lt;li&gt;] (Блочный) - элемент списка(без тегов&nbsp;
                    |#[span(class='red') &lt;ul&gt;] / #[span(class='red') &lt;ol&gt;] не используется).
                p.article-text #[span(class='red') &lt;p&gt;] (Блочный) - используется для выделения текста в абзац.
                p.article-text #[span(class='red') &lt;cite&gt;] (Строчный) - используется для цитат, обычно наклонный текст.
                p.article-text #[span(class='red') &lt;em&gt;] (Строчный) - используется для выделения из текста слова&nbsp;
                    |(#[i.green наклонный] текст).
                p.article-text #[span.red &lt; &gt;]
                p.article-text #[span.red &lt; &gt;]
                p.article-text #[span.red &lt; &gt;]
                p.article-text #[span.red &lt; &gt;]
                p.article-text #[span.red &lt; &gt;]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                h2.article-title#notSemantic Не семантические теги
                p.article-text #[span(class='red') &lt;b&gt;] (Строчный) - создает #[b.green жирный] текст.
                p.article-text #[span(class='red') &lt;i&gt;] (Строчный) - создает #[i.green наклонный] текст.
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]
                p.article-text #[span.red ]


















